################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/oop2_ex4/Debug
/Debug
/oop2_ex4/x64
/x64/Debug
